<h1>Blue Todo</h1>
<ul>
    {{#each tasks}}
        <li>
            <input type="checkbox" id='{{this._id}}' name="{{this._id}}">
            <span>{{this.desc}}</span>
        </li>
    {{/each}}
    <form method="post" action="todos/new">
        <li>
            <input name="desc" type="text" placeholder="Enter a new task here...">
            <input type="submit" value="SUBMIT">
        </li>
    </form>
</ul>

