<h1>Blue Todo</h1>
<form method="post">
    <ul>
        {{#each results}}
            <li>
                <input type="checkbox" id='{{this.id}}' name="{{this.id}}">
                <span>{{this.desc}}</span>
            </li>
        {{/each}}
        <li>
            <input name="new_task" type="text" placeholder="Enter a new task here...">
        </li>
    </ul>
    <input type="submit" value="SUBMIT">
</form>