<h1>Blue Todo</h1>
<form method="post">
    <ul>
        <li>
            <input type="checkbox" id='1' name="1">
            <span>{{todo}}</span>
        </li>
        <li>
            <input name="new_task" type="text" placeholder="Enter a new task here...">
        </li>
    </ul>
    <input type="submit" value="SUBMIT">
</form>