<h1>Blue Todo</h1>
<form method="post">
    <ul>
        <p>add list items</p>
        <li>
            <input name="new_task" type="text" placeholder="Enter a new task here...">
        </li>
    </ul>
    <input type="submit" value="SUBMIT">
</form>